footer.main-footer {
    border-radius: 5px 5px 0 0;
    background-color: #0B0B07;
    padding: 40px 100px 24px;
    margin-top: 140px;    

    @include tablet {
        padding: 20px 15px 10px;
    }
    
    .logo {
        width: 265px;
        margin: -120px auto 0 ;

        a {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-flow: wrap;
            
            img {
                margin-bottom: 13px;
            }
        }
        
        span {
            display: block;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;

            strong {
                color: #EB2F06
            }
        }
    }

    .hacklab-site {
        display: flex;
        justify-content: flex-end;
    }
    
}
