.header{
    // position: fixed;
    width: 100%;
    // top: 0;
    // z-index: 100;
    transition: all .6s;

    @include mobile{
        [alt="Logotipo"]{
            width: 180px;
            margin: 0 auto;
            display: block;
        }
    }

    &--wrapper {
        .sub-header{
            height: 31px;
            display: flex;
            align-items: center;
            background-color: #26A17A;

            &--wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .language-menu {
                    height: 31px;
                    display: flex;
                    align-items: center;

                    @include desktop {
                        margin-right: 241px
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        margin: 0;
                        text-transform: capitalize;
                        color: #F5F5F5;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 19px;
                        text-align: center;

                        li {
                            margin-right: 10px;

                            &.current-lang {
                                position: relative;
                                font-weight: bold;

                                &:before {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 3px;
                                    background: black;
                                    position: absolute;
                                    top: -6px;
                                }
                            }

                            &:last-child {
                                margin-right: 0;
                            }

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }

            a i {
                color: white;
                padding-right: 20px;
                font-size: 16px;
            }
        }

        .main-header {
            background-color: #F5F5F5;

            .content {
                display: flex;
                justify-content: space-between;
                padding: 0 0 21px;
                
                @include tablet {
                    padding: 0 15px 21px;
                }

                .display-flex.display-none {
                    @include tablet {
                        display: none;
                    }
                }

                .logo {
                    a {
                        display: flex;

                        @include tablet {
                            flex-direction: column-reverse;
                            align-items: center;
                        }
                    }
                    
                    &--image {
                        margin-top: -13px;

                        @include tablet {
                            margin-top: 15px;
                        }

                        img {
                            height: 126px;
                            width: 211px;

                            @include tablet {
                                width: 110px;
                                height: auto;
                            }
                        }
                    }

                    &--text {
                        display: flex;
                        flex-direction: column;
                        margin-right: 30px;

                        @include tablet {
                            margin-right: 0;
                        }

                        span:first-child {
                            color: #0B0B07;
                            font-size: 60px;
                            font-weight: bold;
                            letter-spacing: 6px;
                            line-height: 80px;
                            text-align: right;
                            text-transform: uppercase;
                            text-align: right;

                            @include tablet {
                                font-size: 30px;
                                line-height: 44.5px;
                                text-align: center;
                                letter-spacing: inherit;
                            }
                        }
                        
                        span:last-child {
                            color: #0B0B07;
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 1.8px;
                            line-height: 26px;
                            text-align: right;
                            text-transform: uppercase;

                            @include tablet {
                                text-align: center;
                                font-size: 14px;
                                line-height: 14px;
                            }

                            strong {
                                color: #EB2F06;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-header ul{
        float: right;
        display: flex;
        list-style-type: none;
        margin: 5px 0 0 0;

        

        li a{
            padding: 15px 7.5px 15px 15px;
            display: block;
            text-transform: uppercase;
            transition: all .6s;
            color: white;
            font-weight: bold;
        }

        > li{ 
            position: relative; 
            display: flex;
            align-items: center;
            margin-right: 15px;

            &:hover{
                .sub-menu{
                    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
                    bottom: 5px;
                    opacity: 1;
                    pointer-events: all;
                }
            }
            .sub-menu {
                position: absolute;
                z-index: 100;
                bottom: -20px;
                transform: translateY(100%);
                background: whitesmoke;
                min-width: 220px;
                opacity: 0;
                transition: all .6s;
                pointer-events: none;
                flex-direction: column;

                a{ color: black; }
                a:hover{ color: red; }

                &:before{
                    @include triangle(top,10px,10px, whitesmoke);
                    top: -10px;
                    position: absolute;
                    left: 10px;
                }
            }
        }
    }

}