.featured-header {
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // height: 402px;
    display: flex;
    align-items: center;
    padding: 70px 0;
    margin-bottom: 30px;

    @include tablet {
        padding: 15px .625rem;
        margin-bottom: 0;
        background-size: cover;
        min-height: 300px;
    }

    &--title {
        background-color: rgba(245,245,245,0.95);
        border-radius: 5px;

        @include tablet {
        
        }

        &-wrapper {
            padding: 36px 30px;

            @include tablet {
                padding: 15px;
            }
        }

        .hat {
            color: #EB2F06;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 24px;
            text-align: right;
        }

        h3 {
            text-transform: uppercase;
            color: #0B0B07;
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 39px;
            text-align: right;
        }
    }
}