$f_body: 'Oswald', sans-serif;
$f_title: 'Oswald', sans-serif;

$c_gray: #f5f5f5;
$c_gray__darker: #222222;
 
$c_primary: black;
$c_secondary: rgba(255,225,0,0.8);

$dir_assets : '/wp-content/themes/stop-the-wall/assets/';